[user]
	name = sebastianschnock
	email = sebastian.schnock@gmail.com
[push]
	default = simple
[core]
	editor = /usr/bin/vim
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
[mergetool]
	keepBackup = false
